<%= form_for @search do |f| %>
  <p>
  <%= f.text_field :description_contains %>
  <%= f.submit 'Search' %>
  </p>
<% end %>

<table border="0">
  <tr>
    <th align="left">Title</th>
    <th align="left">Info</th>
    <th align="left">Notes</th>    
    <th align="left">Actions</th>
  </tr>
<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.title %></td>
    <td><%= issue.description %> (<%= issue.status %>): created by <%= issue.user_id %></td>
    <td><%= issue.notes.length %></td>
    <td valign="top">
      <%= link_to 'Show', issue %>
      <% if can? :manage, issue %>
       | <%= link_to 'Edit', edit_issue_path(issue) %> | 
      <%= link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @issues %>

<br />
<% if can? :create, Issue %>
  <%= link_to 'New Issue', new_issue_path %>
<% end %>